<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 style="color: blue; font-style: italic">This is the Home page</h1>
<p style="font-family: 'Bauhaus 93'">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis et harum minus nulla quam. Alias consectetur, corporis esse eum molestias provident quas totam. Accusamus amet, eius iusto maxime molestiae possimus.</p>
<h2>Adios!!!</h2>
<h3>Adios!!!</h3>
<h4>Adios!!!</h4>
<h5>Adios!!!</h5>
<h6>Adios!!!</h6>
<div style="width: 450px; height: 450px; background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fprofile&psig=AOvVaw3lmECRIQflcOjL9pvB783W&ust=1680341718223000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCKiVrevuhf4CFQAAAAAdAAAAABAE")">
</div>
</body>
</html>